<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSourceCredentials>
    <Mofid>
       <add key="Username" value="nugetusr" />
       <add key="ClearTextPassword" value="Aaswq123" />
    </Mofid>
    <Mofidphobos>
       <add key="Username" value="nugetusr" />
       <add key="ClearTextPassword" value="Aaswq123" />
    </Mofidphobos>
  </packageSourceCredentials>
  <packageSources>
    <clear/>
    <add key="Mofid" value="http://192.168.114.104/repository/mofidnuget-proxy/index.json" />
    <add key="Mofidphobos" value="http://192.168.114.104/repository/mofidphobos-proxy/index.json" />
  </packageSources>
</configuration>
